
@import "~antd/dist/antd.css";
/* PAGESTYLING */
body {
  font-family: "Gayathri", sans-serif;
  /* not working */

}
/* welcome */



/* logIn */
.cardSign {
  width: 40%;
  margin: 0 auto;
  background-color: #c38d9e;
  margin-top: 20px;
  border-radius: 10%;
}

.signIn {
  display: inline;
}
.emailBox {
  margin-top: 30px;
}
.form-group {
  font-size: 24px;
}
/* logIn */



/* profilepage */

.cardHeader {
  font-size: 26px;
  text-align: center;
}
.nameBox {
  width: 25%;
  text-align: center;
  margin: 0 auto;
  font-size: 36px;
}
.statsBox {
  width: 30%;
  /* margin: 30px; */
  margin: 20px 120px;
}

.dietBox {
}

.nutritionBox {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 90px;
}
.workoutsBox {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-top: 90px;
}

/*profilepage */



/* register page */
.registerForm {
  width: 50%;
  margin: 0 auto;
  background-color: #e8a87c;
  margin-top: 20px;
  border-radius: 5%;
}
.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.card-custom {
  width: 180px !important;
  margin: 12px;
  padding: 1px;
}
.ant-card-cover > * {
  display: block;
  width: 100%;
}

.ant-card-actions > li {
  margin: 10px !important;
}
.ant-btn {
  margin: auto;
}

.ant-list {
  width: 90%;
  margin: auto;
}

.ant-list-item-action {
  padding: 30px 0px;
}

.anticon-close,
.anticon-plus {
  vertical-align: 0.125em !important;
}

.search-bar-wrapper {
  width: 60%;
  margin: auto;
}
.search-bar-wrapper > * {
  margin: 16px;
}

/* register page */


/* workout page */

/* workout page */

.App-header {
  background: #008dff;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  margin-bottom: 10px;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}

.Drawer-toggler {
  font-size: 20px;
  color: white !important;
}
.Drawer-Links-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}
.Drawer-Links-wrapper > a {
  margin: 0.5rem;
  font-size: 1.2rem;
  color: #373636;
}
.active-links {
  color: #1890ff !important;
}
.Dropdown_dropElement__ORYRK {
  display: flex;
  flex-flow: column !important;
}

.brand-logo {
  color: white !important;
}
.Container-wrapper {
  display: flex;
  flex-flow: column;
  margin-top: 90px;
}
.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px;
}

.card-custom {
  width: 180px !important;
  margin: 12px;
  /* border-color: #52c41a; */
}

.ant-card-actions > li {
  margin: 0px !important;
}
.ant-btn {
  margin: auto;
}

.ant-list {
  width: 90%;
  margin: auto;
}


}
