body, html {
    height: 100%;
    /* font-family: 'Gayathri', sans-serif; */
   

    }
    .bg {
    background-image: url("../../asset/bg2.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
    }